[submodule "vailtools/losses/LovaszSoftmax"]
	path = vailtools/losses/LovaszSoftmax
	url = https://github.com/bermanmaxim/LovaszSoftmax.git
[submodule "vailtools/layers/coordconv"]
	path = vailtools/layers/coordconv
	url = https://github.com/titu1994/keras-coordconv.git
[submodule "vailtools/layers/dropblock"]
	path = vailtools/layers/dropblock
	url = https://github.com/CyberZHG/keras-drop-block.git
